evaluate==0.4.1
openai_whisper==20231117
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pydub==0.25.1
torch==2.4.1
torchaudio==2.4.1
tqdm==4.66.1
transformers==4.35.2
whisper==1.1.10
yt_dlp==2024.8.6
